
/************** Wufoo ***************/
 
 ul.wufoo_form {
   margin:0px !important; 
   padding:0px !important;
   list-style-type: none !important;
 }

/************** Global ***************/

  h1 {
    font-family: "proxima-nova",sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }

    h1 {
    font-family: "proxima-nova",sans-serif;
    font-weight: 900;
    line-height: 1.1em;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0 0 23px 0;
    }


    p {
        font-family: "proxima-nova",sans-serif;
        font-size: 1.5em;
        line-height: 1.7em;
        margin: 0 0 23px 0;
        }

  .logo {
    margin:20px 0 60px 0;
  }

   .button_new {
      user-select: none;
      width: 300px;
      text-align: center;
      cursor: pointer;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-radius: 0px;
      color: #FFFFFF;
      border: 3px solid #FFFFFF;
      display: block;
      position: relative;
      margin: auto;
      height: 60px;
      line-height: 53px;
      -webkit-transition: all 200ms ease-in-out;
      -moz-transition: all 200ms ease-in-out;
      -o-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out;
      text-transform: uppercase;
      font-family: 'Proxima Nova', Arial, Sans-serif;
      font-weight: 100;
      text-decoration: none;
      font-size: 18px;
  }

.button_new:hover {
  background:#fff;

}
.top-nav {display:none !important;}

/************** Navigation ***************/

  #navigation {
    height:50px;
    position:fixed;
    bottom:0;
    width:100%;
    background:url(../img/nav_bg.png);
    z-index:100;
    }

  .bottom_text {
    padding:20px;
  }

h1.nav_logo { 
  font-family: "proxima-nova",sans-serif;
  font-weight: 100;
  
}

/************** PAGE 1 LANDING ***************/

  #page1 {
    background:#1fcdf2; 
    height:60%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:10% 0 0 0;
    text-align:center;
  }

  .bg { background: #000;}

/************** PAGE 2 ABOUT ***************/

#page2 .button_new {
    border-radius: 0px;
    color: #656565;
    border: 3px solid #656565;
    margin-top: 100px;
 
    }

 #page2 .button_new:hover {
      background:#656565;
      color:#fff;
  }

  #page2 {
   background:#FFF; 
    text-align: left;
    padding: 15% 0 15% 0;
  }

  #page2 h1 {
    font-size: 85px;
    color: #656565;
    font-weight: 900;
    line-height: 82px;
    text-align: center;
  
  }

  #page2 p {
    font-size: 35px;
    line-height: 45px;
    color: #656565;
   text-align: center;
    font-weight: 100;

  }

.about_left {
  padding: 5%;
  background: #393188;
}

/************** SLIDER ***************/

.orbit-bullets li {
  display: inline-block;
  width: 1.5625rem;
  height: 1.5625rem;
  background: #2ca3ce !important;
  float: none;
  margin-right: 6px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
    transition: .5s;
}

.orbit-bullets li.active {
  width: 1.8rem;
  height: 1.8rem;
  background: #fff !important;
}

.orbit-bullets li:hover {
  width: 1.8rem;
  height: 1.8rem;
  background: yellow;

}

 
.orbit-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    background: none;
    height: 367px;
    display: block;
}
  
  .orbit-bullets-container {
    text-align: center;
    position:relative;
    bottom:-87%;
    ;
  }

  .orbit-slide-number  {
    display:none;
  }

  .orbit-container .orbit-timer {
    display: none;    
}

.orbit-container .orbit-next > span {
  border-color: transparent;
  border-left-style: solid;
  border-left-color: #32bff2;
  left: 50%;
  margin-left: -4px;
}

.orbit-container .orbit-prev > span {
  border-right-color: #32bff2; 
}

.how_1 { padding-top: 20px;}


/****** PAGE 3 SIGN UP ***************/

  #page3 {
    background:#32bff2; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:12% 0 12% 0;
   
  }

    #page3 h1 {
    font-size: 85px;
    color: #fff;
    font-weight: 900;
    line-height: 82px;  
    padding-bottom: 100px; 
    text-align: center;
  }
   
  

  #page3 h2 {

    font-family: "proxima-nova",sans-serif !important;
    font-size: 35px;
    color:#32bff2;
    font-weight: 900;
       
  }

 #page3 p {
    font-size: 21px;
    font-family: "proxima-nova",sans-serif;
    line-height: 31px;
    color: #656565;
    font-weight: 100;
    letter-spacing: -1px
  }


  #page3 .box { 
    background: #fff;
    padding: 50px;
    margin-bottom: 15px;
  }

  .characters {
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right:  auto;
  }

  .arrow_down {
    padding-top: 25px;
    display: block;
    margin-left: auto;
    margin-right:  auto;
  }

  /************** PAGE 4 THE PROJECT ***************/

  #page4 {
   background:url(../img/bg_3.jpg) no-repeat center center fixed; 
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:15% 0 0 0;
    text-align:center;
  }

/************** PAGE 4 THE DESIGNERS ***************/
  #page5 {
   background:url(../img/bg_10.jpg) no-repeat center center fixed; 
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:15% 0 0 0;
    text-align:center;
  }

/************** PAGE 4 THE JUDGES***************/
  #page6 {
   background:url(../img/bg_3.jpg) no-repeat center center fixed; 
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:15% 0 0 0;
    text-align:center;
  }

/************** PAGE 4 THE SPONSORS**************/

#page7 {
   background:url(../img/bg_07.png) no-repeat center center fixed; 
    height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:15% 0 0 0;
    text-align:center;
  }

.sponsor { background: #000;}


 
/************** MEDIA QUIERIES **************/

@media (max-width: 600px) {
  nav {
    display: none !important; 
  }
   h1 {
   font-size:3em;

  }

  #page3 h1 {
    font-size:3em;

  }

  #page3 h2 {
   font-size:12px;

  }

  #page2 h1 {
   font-size:3em;

  }

  #page2 p {
   font-size:12px;

  }
}



